{% extends "resto_roulette/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Restaurant Roulette</title>
  </head>
  <body data-spy="scroll" data-target="#navbarResponsive">

    <!-- Start Home Section -->
    <div id="home">
    <!--- Nav -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="http://127.0.0.1:8000/"><img src="static/assets/logo.png"></a>
      <h1 id="rr_logo">Restaurant Roulette</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#featured">Featured</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="queue">Queue</a>
            </li>
          </ul>
      </div>




    </nav>

    <!--- Start Slider -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
          </ol>
      <div class="carousel-inner" role="listbox">
          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(static/assets/resto_img3.jpg);">
              <div class="carousel-caption text-center" id-"cap">
                  <h1>Take A Spin</h1>
                  <h3>Your Chances Are Great!</h3>
                  <a class="btn btn-outline-light btn-lg" href="search">Get Started</a>
                </div>
            </div>
          <!-- Slide 2 -->
         <div class="carousel-item" style="background-image: url(static/assets/resto_img2.jpg);">
           <div class="carousel-caption text-center" id-"cap">
               <h1>Take A Spin</h1>
               <h3>Your Chances Are Great!</h3>
               <a class="btn btn-outline-light btn-lg" href="search">Get Started</a>
             </div>

              </div>
         <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(static/assets/resto_img.jpg);">
            <div class="carousel-caption text-center" id-"cap">
                <h1>Take A Spin</h1>
                <h3>Your Chances Are Great!</h3>
                <a class="btn btn-outline-light btn-lg" href="search">Get Started</a>
              </div>

          </div>

        </div> <!--- End Carousel Inner -->
        <!-- Next and Back Button -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>

    </div>
    <!--- End Slider -->
    </div>
    <!--- End Home -->
    <!-- Start How It Works Section -->
    <!-- <div id="how_it_works" class="offset">
      <div class="col-12 narrow text-center">
      <h1>How It Works</h1>
      <p class="lead">Search great local restaurants in your area!</p>
      </div>
      <div class="container">
  <div class="row circles">
    <div class="col-md">
  <div class="circle">Step 1</div>
    </div>
    <div class="col-md">
    <div class="circle">Step 2</div>
    </div>
    <div class="col-md">
    <div class="circle">Step 3</div>
    </div>
  </div>
</div>


    </div> -->
    <!--- End How It Works -->
    <!-- Start Featured Section -->

    <div id="featured" class="offset">
      <div class="jumbotron container-fluid">
        <div class="col-12 text-center">
          <h3 class="heading text-center">Featured</h3>
        </div>
          <div class="heading-underline"></div>

   <div class="row no-padding">
              <div class="col-sm-4">
                  <div class="card border-danger text-center" id="featured_cards">
                  <img class="card-img-top" src="static/assets/luclac.jpg" />
                  <div class="card-body">
                    <h4>Luc Lac</h4>
                    </div>
                    <ul class="list-group list-group-flush">
    <li class="list-group-item">835 SW 2nd Ave, Portland, OR 97204</li>
    <li class="list-group-item">(503)222-0047</li>
    <li class="list-group-item"><img src="../../static/assets/regular_4.png"/></li>
    <li class="list-group-item">
    <div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
<label class="form-check-label" for="defaultCheck1">
Add to Queue
</label>
</div>
</li>
  </ul>
  <div class="card-body links">
  <a href="https://www.yelp.com/biz/l%C3%BAc-l%C3%A1c-portland-3" class="card-link"><img class="card-link"src="static/assets/yelp_fullcolor.png"></a>
</div>
  </div>
  </div>
  <div class="col-sm-4">
      <div class="card border-danger text-center" id="featured_cards">
      <img class="card-img-top" src="static/assets/pepinos.jpg" />
      <div class="card-body">
        <h4>Pepino's</h4>
        </div>
        <ul class="list-group list-group-flush">
<li class="list-group-item">914 NW 23rd Ave, Portland, OR 97210</li>
<li class="list-group-item">(503)226-9600</li>
<li class="list-group-item"><img src="../../static/assets/regular_4.png"/></li>
<li class="list-group-item">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
<label class="form-check-label" for="defaultCheck1">
Add to Queue
</label>
</div>
</li>
</ul>
<div class="card-body links">
<a href="https://www.yelp.com/biz/pepinos-mexican-grill-portland-3?osq=pepinos" class="card-link"><img class="card-link"src="static/assets/yelp_fullcolor.png"></a>
</div>
</div>
</div>
<div class="col-sm-4">
    <div class="card border-danger text-center" id="featured_cards">
    <img class="card-img-top" src="static/assets/quick.jpg" />
    <div class="card-body">
      <h4>QuickFish</h4>
      </div>
      <ul class="list-group list-group-flush">
<li class="list-group-item">840 NW 13th Ave, Portland, OR 97209</li>
<li class="list-group-item">(503)206-6297</li>
<li class="list-group-item"><img src="../../static/assets/regular_3_half.png"/></li>
<li class="list-group-item">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
<label class="form-check-label" for="defaultCheck1">
Add to Queue
</label>
</div>
</li>
</ul>
<div class="card-body links">
<a href="https://www.yelp.com/biz/quickfish-portland?osq=quickfish" class="card-link"><img class="card-link"src="static/assets/yelp_fullcolor.png"></a>
</div>
</div>
</div>
<div class="col-sm-4">
    <div class="card border-danger text-center" id="featured_cards">
    <img class="card-img-top" src="static/assets/pizza.jpg" />
    <div class="card-body">
      <h4>Checkerboard Pizza</h4>
      </div>
      <ul class="list-group list-group-flush">
<li class="list-group-item">126 SW 2nd Ave, Portland, OR 97204</li>
<li class="list-group-item">(503)299-2000</li>
<li class="list-group-item"><img src="../../static/assets/regular_4.png"/></li>
<li class="list-group-item">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
<label class="form-check-label" for="defaultCheck1">
Add to Queue
</label>
</div>
</li>
</ul>
<div class="card-body links">
<a href="https://www.yelp.com/biz/checkerboard-pizza-portland?osq=Checkerboard+Pizza" class="card-link"><img class="card-link"src="static/assets/yelp_fullcolor.png"></a>
</div>
</div>
</div>
<div class="col-sm-4">
    <div class="card border-danger text-center" id="featured_cards">
    <img class="card-img-top" src="static/assets/tilt.jpg" />
    <div class="card-body">
      <h4>Tilt</h4>
      </div>
      <ul class="list-group list-group-flush">
<li class="list-group-item">1355 NW Everett St. Ste 120, Portland, OR 97209</li>
<li class="list-group-item">(503) 894-9528</li>
<li class="list-group-item"><img src="../../static/assets/regular_4.png"/></li>
<li class="list-group-item">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
<label class="form-check-label" for="defaultCheck1">
Add to Queue
</label>
</div>
</li>
</ul>
<div class="card-body links">
<a href="https://www.yelp.com/biz/tilt-portland-5?osq=tilt" class="card-link"><img class="card-link"src="static/assets/yelp_fullcolor.png"></a>
</div>
</div>
</div>
<div class="col-sm-4">
    <div class="card border-danger text-center" id="featured_cards">
    <img class="card-img-top" src="static/assets/thai.jpg" />
    <div class="card-body">
      <h4>Thai Bloom!</h4>
      </div>
      <ul class="list-group list-group-flush">
<li class="list-group-item">333 NW 23rd Ave, Portland, OR 97210</li>
<li class="list-group-item">503) 243-7557</li>
<li class="list-group-item"><img src="../../static/assets/regular_4_half.png"/></li>
<li class="list-group-item">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
<label class="form-check-label" for="defaultCheck1">
Add to Queue
</label>
</div>
</li>
</ul>
<div class="card-body links">
<a href="https://www.yelp.com/biz/thai-bloom-portland-2?osq=thai+bloom" class="card-link"><img class="card-link"src="static/assets/yelp_fullcolor.png"></a>
</div>
</div>
</div>

              </div> <!--- End Cards -->
                <div class="narrow text-center">
                  <div class="col-12">
                    <p class="lead">Portland's Summer Hot Spots</p>
                    <a class="btn btn-secondary btn-md" href="http://www.yelp.com" target="_blank">Take Me There</a>

                    </div>
                  </div>
          </div> <!--- End Row -->
        </div> <!---End Jumbotron -->

    <!--- End ## -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
